In [4]:
!pip install nltk

Requirement already satisfied: nltk in /Library/anaconda/anaconda3/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /Library/anaconda/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Library/anaconda/anaconda3/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Library/anaconda/anaconda3/lib/python3.12/site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /Library/anaconda/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)

In [5]:
import nltk

In [6]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/apple/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Stemming in NLP

In [8]:
from nltk.stem import PorterStemmer

portstm=PorterStemmer()

word=['change','changing','changes','changed'] 
word

['change', 'changing', 'changes', 'changed']

In [9]:
for w in word:
    print(w,portstm.stem(w))

change chang
changing chang
changes chang
changed chang

In [10]:
sen='The goal can vary depending on the context you are asking about.'

In [11]:
sen

'The goal can vary depending on the context you are asking about.'

In [12]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /Users/apple/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [13]:
from nltk.tokenize import word_tokenize
token=word_tokenize(sen)
token

['The',
 'goal',
 'can',
 'vary',
 'depending',
 'on',
 'the',
 'context',
 'you',
 'are',
 'asking',
 'about',
 '.']

In [14]:
sen.split()

['The',
 'goal',
 'can',
 'vary',
 'depending',
 'on',
 'the',
 'context',
 'you',
 'are',
 'asking',
 'about.']

In [15]:
for w in token:
    print(w,portstm.stem(w))

The the
goal goal
can can
vary vari
depending depend
on on
the the
context context
you you
are are
asking ask
about about
. .

# Lemmatization in NLP

In [18]:
from nltk.stem import WordNetLemmatizer
wnl=WordNetLemmatizer()

In [19]:
for w in token:
    print(w,wnl.lemmatize(w))

The The
goal goal
can can
vary vary
depending depending
on on
the the
context context
you you
are are
asking asking
about about
. .

In [20]:
import nltk

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/apple/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Tokenization in NLP

In [23]:
from nltk.tokenize import word_tokenize,sent_tokenize
sen1="Are you referring to a specific goal, like personal growth, a project you're working on, or something more philosophical like the purpose of life? Let me know what you're thinking, and I can help clarify!"
wt=word_tokenize(sen1)
st=sent_tokenize(sen1)
print(wt)
print(st)

['Are', 'you', 'referring', 'to', 'a', 'specific', 'goal', ',', 'like', 'personal', 'growth', ',', 'a', 'project', 'you', "'re", 'working', 'on', ',', 'or', 'something', 'more', 'philosophical', 'like', 'the', 'purpose', 'of', 'life', '?', 'Let', 'me', 'know', 'what', 'you', "'re", 'thinking', ',', 'and', 'I', 'can', 'help', 'clarify', '!']
["Are you referring to a specific goal, like personal growth, a project you're working on, or something more philosophical like the purpose of life?", "Let me know what you're thinking, and I can help clarify!"]

In [24]:
import spacy
nlp=spacy.load('en_core_web_sm')
sent="I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
doc=nlp(sent)
word_tokens = [token.text for token in doc]
print(word_tokens)

['I', "'m", 'from', 'aiQuest', 'Intelligence', '.', 'I', 'am', 'learning', 'NLP', '.', 'It', 'is', 'fascinating', '!']

# Transformers

In [26]:
from transformers import AutoTokenizer
tokenizer=AutoTokenizer.from_pretrained('bert-base-uncased')
sentance="I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
autoToken=tokenizer.tokenize(sentance)
print(autoToken)

['i', "'", 'm', 'from', 'ai', '##quest', 'intelligence', '.', 'i', 'am', 'learning', 'nl', '##p', '.', 'it', 'is', 'fascinating', '!']

# Named Entity Tokenization using NLTK

In [28]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/apple/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [47]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/apple/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [49]:
import nltk
nltk.download('maxent_ne_chunker')  # Download the required resource (NER models)
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/apple/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /Users/apple/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [69]:
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /Users/apple/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.

True

In [75]:
from nltk import word_tokenize, pos_tag, ne_chunk

sentence4 = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
token = word_tokenize(sentence4)
posTag = pos_tag(token)
neChunk = ne_chunk(posTag)  # Fixed typo: postTag -> posTag
name_entity = []

for chunk in neChunk:
    if hasattr(chunk, 'label'):  # if statement
        name_entity.append(' '.join(c[0] for c in chunk))  # Properly indented block
print(name_entity)  # Moved outside the loop to print final result

['aiQuest Intelligence', 'NLP']

In [73]:
nltk.download('maxent_ne_chunker_tab')

[nltk_data] Downloading package maxent_ne_chunker_tab to
[nltk_data]     /Users/apple/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker_tab.zip.

True

# Text Vectorizer

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data.csv')
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [26]:

x2=df['test']

In [28]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [30]:
cv= CountVectorizer()
x1=cv.fit_transform(df['test'])

In [32]:
x1.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]])

In [34]:
cv.get_feature_names_out()

array(['an', 'are', 'bangladesh', 'could', 'give', 'hello', 'how',
       'iphone', 'love', 'me', 'talk', 'to', 'want', 'you'], dtype=object)

In [36]:
data=pd.DataFrame(x1.toarray(),columns=cv.get_feature_names_out(),index=df['test'])

In [38]:
data

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(x2)
x

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 16 stored elements and shape (4, 14)>

In [42]:
x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]])

In [46]:
cv.get_feature_names_out()

array(['an', 'are', 'bangladesh', 'could', 'give', 'hello', 'how',
       'iphone', 'love', 'me', 'talk', 'to', 'want', 'you'], dtype=object)

In [55]:
dataframe=pd.DataFrame(x.toarray(),columns=cv.get_feature_names_out())
data

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [59]:
tv=TfidfVectorizer()
tvx=tv.fit_transform(x2)
tvx

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 16 stored elements and shape (4, 14)>

In [61]:
tvx.toarray()

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [67]:
tv.get_feature_names_out()

array(['an', 'are', 'bangladesh', 'could', 'give', 'hello', 'how',
       'iphone', 'love', 'me', 'talk', 'to', 'want', 'you'], dtype=object)

In [79]:
tvxData=pd.DataFrame(tvx.toarray(),columns=tv.get_feature_names_out(), index=df['test'])

In [81]:
tvxData

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783